*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(37,36,37);
}
label{
    position: relative;
    width: 140px;
    height: 40px;
    cursor: pointer;
    margin: 20px 0;

}
label input{
    opacity: 0;
}
label .check{
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
    width:100%;
    height: 100%;
    background-color: #101010;
    border-radius: 40px;
    box-shadow: 0 0 0 4px #101010;
}
.check::before{
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    left:-30px;
    top:calc(50% - 4px);
    background-color: #f00;
    border-radius: 50%;
    box-shadow: 0 0 5px #f00,
                0 0 10px #f00,
                0 0 20px #f00,
                0 0 40px #f00,
                0 0 80px #f00;
}
.check::after{
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    right:-30px;
    top:calc(50% - 4px);
    background-color: #101010;
    border-radius: 50%;
}
label input:checked ~.check::before{
    background-color: #101010;
    box-shadow: none;
}
label input:checked ~.check::after{
    background-color: #0f0;
    box-shadow: 0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0,
                0 0 80px #0f0;
}
.btn{
    position: absolute;
    top:0;
    left:0;
    width: 60px;
    height: 40px;
    background-color: #333;
    border-radius: 40px;
    box-shadow: inset 0 -20px 15px #292928,
                inset 0 20px 15px #292928;
}
.btn::before{
    content: ' ';
    position: absolute;
    top:0;
    left: 0;
    width:22px;
    height: 40px;
    background-color:#252525 ;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    filter:blur(2px);
    box-shadow: inset 5px -5px 15px rgba(0,0,0,.3);
}
.btn::after{
    content: ' ';
    position: absolute;
    top:0;
    right: 0;
    width:22px;
    height: 40px;
    background-color:#252525 ;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    filter:blur(2px);
    box-shadow: inset 5px -5px 15px rgba(0,0,0,.3);
}
label input:checked ~.btn{
    left:80px;
}